<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a mat-icon-button matTooltip="See community routes to download" routerLink="/chest">
            <mat-icon>inbox</mat-icon>
        </a>
        <span class="example-fill-remaining-space"></span>
        <a matTooltip="Go home it's fine :)" routerLink="/home" id="header-title">
            <span>Explorer</span>
        </a>
        <span class="example-fill-remaining-space"></span>
        <a mat-icon-button matTooltip="Create your own route" routerLink="/creator">
            <mat-icon>map</mat-icon>
        </a>
    </mat-toolbar-row>
</mat-toolbar>