
<h3>Datos de la Ruta</h3>
<div class="data-route">
    <div class="data-inputs-container">
        <app-input-field *ngFor="let field of fields" [field]="field"></app-input-field>
    </div>
    <div class="create">
        <button mat-flat-button color="primary" (click)="onClickCreateRoute()">Crear</button>
        <mat-checkbox color="primary" [(ngModel)]="checked">Subir al servidor</mat-checkbox>
    </div>
</div>
<app-creator-place (placeAdded)="placeCreated($event)" [places]="places"></app-creator-place>