:host{
    
}

.data-inputs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.data-inputs-container > *{
    margin-right: 1em;
   
}

.data-route{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
h3:nth-child(1) {
    margin-bottom: -0.7em;
    padding-left: 0.7em;
}
.create{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding-top: 0.5em;
}
