<div class="content">
  <div class="search">
    <mat-form-field appearance="fill" class="select">
      <mat-label>Choose a filter</mat-label>
      <mat-select [(ngModel)]="option">
        <mat-option *ngFor="let option of options;let i = index" [value]="i">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Search</mat-label>
      <input type="text" matInput color="accent" [(ngModel)]="textSearch"/>
      <button mat-icon-button matSuffix (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="results" *ngIf="results">
    <div
      class="result"
      *ngFor="let result of results; let index = index"
      (click)="onClick(index)"
    >
      <h3>{{ result.title }}</h3>
    </div>
  </div>
</div>
