<h1>Explorer Web</h1>
<p>You can create a route or download for Chest</p>
<div class="cards-container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Create your route</mat-card-title>
            <mat-card-subtitle>Create qrRoute and use offline or upload to chest</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/qrCard.png" />
        <mat-card-content>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis obcaecati soluta vitae eveniet laborum
                ratione? Esse consequuntur eligendi quis maxime qui quisquam laborum repellendus, ipsa sit distinctio
                eaque incidunt nostrum.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-flat-button color="primary" routerLink="/creator">CREATE</a>
        </mat-card-actions>
    </mat-card>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Open the Chest</mat-card-title>
            <mat-card-subtitle>View Routes that Community created </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/qrCard.png" />
        <mat-card-content>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis obcaecati soluta vitae eveniet laborum
                ratione? Esse consequuntur eligendi quis maxime qui quisquam laborum repellendus, ipsa sit distinctio
                eaque incidunt nostrum.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-flat-button color="primary" routerLink="/chest">OPEN</a>
        </mat-card-actions>
    </mat-card>
</div>