<h1>Explorer</h1>
<div class="content">
    <mat-card>
        <mat-card-header>
            <img src="assets/logoExplorer.png" alt="logo Explorer" mat-card-avatar>
            <mat-card-title><p>Chest</p></mat-card-title>
            <mat-card-subtitle><p>Search routes to explorer</p></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <img src="assets/buscarRutas.jpeg" alt="" mat-card-image>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" routerLink="/chest">Go!</button>
        </mat-card-actions>
    </mat-card>
    <img src="assets/logoExplorer.png" alt="">
    <mat-card>
        <mat-card-header>
            <img src="assets/logoExplorer.png" alt="logo Explorer" mat-card-avatar>
            <mat-card-title><p>Creator</p></mat-card-title>
            <mat-card-subtitle><p>Create Routes in QR to share</p></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <img src="assets/createQR.png" alt="" mat-card-image>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" routerLink="/creator">Go!</button>
        </mat-card-actions>
    </mat-card>
</div>